{
  "$schema": "https://github.com/framjet/docker-uptrack-action/blob/main/schema.json",
  "variants": [
    {
      "namespace": "framjet",
      "name": "nginx-custom",
      "platforms": [
        "linux/amd64",
        "linux/arm64"
      ],
      "filters": {
        "tags": [
          {
            "pattern": ".*"
          }
        ]
      },
      "upstream": {
        "namespace": "framjet",
        "name": "nginx"
      }
    }
  ]
}
